<div class="row rooms_table">
  <div class="col-xs-2 remove_padding">
    <div class="rooms_box rooms_box_invert">
      <div>
        Duration
      </div>
      <div>
        Room Type
      </div>
    </div>
  </div>
  
  <div class="col-xs-2 remove_padding">
    <div class="rooms_box rooms_box_invert">
      <p>Per Night</p>
    </div>
  </div>

  <div class="col-xs-2 remove_padding">
    <div class="rooms_box rooms_box_invert">
      <p>1 Month</p>
    </div>
  </div>

  <div class="col-xs-2 remove_padding">
    <div class="rooms_box rooms_box_invert"
    ><p>5 Months</p>
  </div>
  </div>

  <div class="col-xs-2 remove_padding">
    <div class="rooms_box rooms_box_invert">
      <p>10 Months</p>
    </div>
  </div>

  <div class="col-xs-2 remove_padding">
    <div class="rooms_box rooms_box_invert">
      <p>12 Months</p>
    </div>
  </div>

</div>

<% @room_types.each do |room_type| %>
  <div class="row">

    <div class="col-xs-2 remove_padding">
      <div class="rooms_box rooms_box_invert">

        <div class="row">
          <div class="col-xs-12">
            <%= room_type.name %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            Rating: <%= room_type.rating %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <%= link_to "More info about this room", room_type %>
          </div>
        </div>
        

      </div>
    </div>

    <!-- http://stackoverflow.com/questions/7772859/rails-3-how-do-display-two-decimal-places-in-edit-form -->
    <% room_type.reservation_types.each do |reservation_type| %>
      <div class="col-xs-2 remove_padding">
        <div class="rooms_box">
          
          <div class="row">
            <div class="col-xs-12">
              <%= reservation_type.marketing_msg %><br>
              €<%= "%.2f" % (reservation_type.price) %>
              <%= link_to "Book this room", {:controller => "reservations", :action => "new", :reservation_type_id => reservation_type.id }  %>
            </div>
          </div>

        </div>
      </div>
    <% end %>
</div>
<% end %>