<section id="home_page">
  <section class="picture_break" id="home_title_pane"><%= render 'static_pages/home_title_pane' %></section>
  <section id="home_introduction_pane"><%= render 'static_pages/home_introduction_pane' %></section>
  <section class="picture_break" id="home_picture_break_pane_1"><%= render 'static_pages/home_picture_break_pane_1' %></section>
  <section id="home_rooms_pane"><%= render 'static_pages/home_rooms_pane' %></section>
  <section class="picture_break" id="home_picture_break_pane_2"><%= render 'static_pages/home_picture_break_pane_2' %></section>
  <section id="home_questions_pane"><%= render 'static_pages/home_questions_pane' %></section>
  <section class="picture_break" id="home_picture_break_pane_3"><%= render 'static_pages/home_picture_break_pane_3' %></section>
  <section id="home_partners_pane"><%= render 'static_pages/home_partners_pane' %></section>
  <section class="picture_break" id="home_map_pane"><%= render 'static_pages/home_map_pane' %></section>
  <section id="home_contact_pane"><%= render 'static_pages/home_contact_pane' %></section>
</section>