<% provide(:title, "All Contact Requests") %>

<div class="container admin_page">
  <h1>All Contact Requests</h1>

  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Country</th>
          <th>Comment</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @contact_requests.each do |contact_request| %>
          <tr>
            <td><%= contact_request.id unless contact_request.id.nil? %></td>
            <td><%= contact_request.name unless contact_request.name.nil? %></td>
            <td><%= contact_request.surname unless contact_request.surname.nil? %></td>
            <td><%= contact_request.email unless contact_request.email.nil? %></td>
            <td><%= contact_request.phone unless contact_request.phone.nil? %></td>
            <td><%= contact_request.country unless contact_request.country.nil? %></td>
            <td><%= contact_request.comment unless contact_request.comment.nil? %></td>
            <td>   
              <%= link_to "Delete", contact_request, method: :delete, data: { confirm: "You sure?" } %>
            </td>
          </tr>
        <% end %>
        
      </tbody>
    </table>
  </div>
</div>
