<% provide(:title, "All Reservations") %>

<h1>All Reservations</h1>

<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Reservation id</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Email</th>
        <th>Reservation Approved</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= reservation.id %></td>
          <td><%= reservation.start_date %></td>
          <td><%= reservation.end_date %></td>
          <td><%= reservation.email %></td>
          <td><%= reservation.approved %></td>
          <td>  
            <% unless reservation.approved? %>
               <%= link_to "Approve", approval_toggle_path(id: reservation.id) %> | 
            <% end %> 
            <%= link_to "Delete", reservation, method: :delete, data: { confirm: "You sure?" } %>
          </td>
        </tr>
      <% end %>
      
    </tbody>
  </table>
</div>

