<% provide(:title, "Reservation Types") %>

<div class="container admin_page">
  <h1>All Reservation Types</h1>

  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Room Type</th>
          <th>Length</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Available</th>
          <th>Marketing Message</th>
          <th>Marketing Color</th>
          <th>Sold Out</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @reservation_types.each do |reservation_type| %>
          <tr>
            <td><%= reservation_type.id unless reservation_type.id.nil? %></td>
            <td><%= reservation_type.room_type.name unless reservation_type.room_type.name.nil? %></td>
            <td><%= reservation_type.length_type unless reservation_type.length_type.nil? %></td>
            <td><%= reservation_type.start_date unless reservation_type.start_date.nil? %></td>
            <td><%= reservation_type.end_date unless reservation_type.end_date.nil? %></td>
            <td><%= reservation_type.price unless reservation_type.price.nil? %></td>
            <td><%= reservation_type.quantity unless reservation_type.quantity.nil? %></td>
            <td><%= reservation_type.available unless reservation_type.available.nil? %></td>
            <td><%= reservation_type.marketing_msg unless reservation_type.marketing_msg.nil? %></td>
            <td><%= reservation_type.marketing_color unless reservation_type.marketing_color.nil? %></td>
            <td><%= reservation_type.sold_out unless reservation_type.sold_out.nil? %></td>
            <td>
              <%= link_to "Edit", {controller: "reservation_types", action: "edit", id: reservation_type.id } %> | <%= link_to "Delete", reservation_type, method: :delete, data: { confirm: "You sure?" } %>
            </td>
          </tr>
        <% end %>
        
      </tbody>
    </table>
  </div>

  <h2> 
    <%= link_to "Create New Reservation Type", new_reservation_type_path %> 
  </h2>
</div>
